{% include  'sitio/cabecera.html' %}

    <div class="row align-items-md-stretch">
        <div class="col-md-7">
            <div
                class="h-100 p-5 text-black bg-tertiary border rounded-3">
                <h2>Bienvenid@</strong></h2>
                <p>Empezar con nuestro sitio web</p>
                <a name="" id="" class="btn btn-success bg-lg" href="/libros" role="button">Ver libros disponibles</a>
        </div>
    </div>
</div>

        <div class="col-md-5"></div>        
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.d94d63f8317a2cee8c627c3791f5cfcb?rik=T%2f6BLk4YINJJmA&pid=ImgRaw&r=0/100x180/" alt="Title">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
            </div>



    </div>
{% include  'sitio/pie.html' %}

  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
